<!-- footer Start -->
<footer>
  <div class="container p-3">
    <div class="row">
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <div class="bg-image hover-overlay ripple shadow-1-strong rounded" data-ripple-color="light">
          <img
            src="{{ site.baseurl }}/img/logo.png"
            class="w-100"
          />
        </div>        
      </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <p>(48058) 부산 해운대구 센텀서로 30 (우동, KNN타워) 22층, 2202호</p>
        <p>사업자등록번호 : 581-19-01892</p>
        <p>대표 변호사 : 김현철</p>
      </div>
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <!-- Links -->
        <p><i class="fas fa-envelope me-3 text-secondary" style="margin-right:10px;"></i><a href="mailto:franciskim1888@gmail.com?Subject=상담문의합니다." target="_blank">franciskim1888@gmail.com</a></p>
        <p><i class="fas fa-phone me-3 text-secondary" style="margin-right:10px;"></i><a href="tel:051-988-8435">051 988 8435</a></p>
        <p><i class="fas fa-print me-3 text-secondary" style="margin-right:10px;"></i>050 4204 8435</a>
      </div>
    </div>
  </div>
</footer>
